// 1rem = 10px

// for creating utility classes
$sizes: (
  1: 0.4rem,
  2: 0.8rem,
  3: 1.2rem,
  4: 1.6rem,
  5: 2rem,
  6: 2.4rem,
  7: 2.8rem,
  8: 3.2rem,
  9: 4rem,
  10: 4.8rem,
  11: 6rem,
  12: 8rem,
  13: 9.6rem,
  14: 12rem,
  15: 16rem,
);

// for use in the code base
$size-1: 0.4rem;
$size-2: 0.8rem;
$size-3: 1.2rem;
$size-4: 1.6rem;
$size-5: 2rem;
$size-6: 2.4rem;
$size-7: 2.8rem;
$size-8: 3.2rem;
$size-9: 4rem;
$size-10: 4.8rem;
$size-11: 6rem;
$size-12: 8rem;
$size-13: 9.6rem;
$size-14: 12rem;
$size-15: 16rem;

// fluid sizes
$size-fluid-1: clamp($size-2, 2vw, $size-4);
$size-fluid-2: clamp($size-4, 2vw, $size-8);
$size-fluid-3: clamp($size-9, 2vw, $size-11);
