$-ff-sans: "Source Sans Pro", sans-serif;
$-ff-serif: "Alegreya SC", serif;

$font-family-accent: $-ff-serif;
$font-family-base: $-ff-sans;

// font sizes
$font-sizes: (
  "small": (
    "900": 6rem,
    "800": 3.6rem,
    "700": 2.8rem,
    "600": 2.1rem,
    "500": 1.8rem,
    "400": 1.6rem,
  ),
  "large": (
    "900": 6rem,
    "800": 4.8rem,
    "700": 2.8rem,
    "600": 2.1rem,
    "500": 1.8rem,
    "400": 1.6rem,
  ),
);

$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

//font weight
$-fw-400: 400;
$-fw-500: 500;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-semi-bold: $-fw-500;
$font-weight-bold: $-fw-700;

//line heights
$line-heights: (
  // 110%
  110: 1.1,
  // 120%
  120: 1.2,
  // 150%
  150: 1.5,
  // 160%
  160: 1.6
);
