@use "../abstracts" as *;

// generating font sizes classes
@each $screen-size, $size-map in $font-sizes {
  @each $size-name, $size-value in $size-map {
    @if $screen-size == small {
      .fs-#{$size-name} {
        font-size: var(--fs-#{$size-name});
      }
    }
  }
}

// generating line heights classes
@each $lh-size, $lh-value in $line-heights {
  .lh-#{$lh-size} {
    line-height: $lh-value;
  }
}

// assigning font families
.ff-accent {
  font-family: $font-family-accent;
}

.ff-base {
  font-family: $font-family-base;
}

// font-weights
.fw-regular {
  font-weight: $font-weight-default;
}

.fw-semi-bold {
  font-weight: $font-weight-semi-bold;
}

.fw-bold {
  font-weight: $font-weight-bold;
}

// centering the text
.text-center {
  text-align: center;
}

// all caps
.uppercase {
  text-transform: uppercase;
}

// headings and subheadings
.heading-1 {
  @include heading($font-size-900, $color-primary-400);
}

.heading-2 {
  @include heading($font-size-800, $color-primary-400);
}

.heading-3 {
  @include heading($font-size-700, $color-secondary-400);
}

.subheading {
  font-family: $subheading-font-family;
  font-weight: $subheading-font-weight;
  font-size: $subheading-font-size;
  line-height: $subheading-line-height;
  color: $subheading-color-default;
}
