@use "../abstracts" as *;

.primary-nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $nav-spacing;
    list-style: none;

    a {
      font-family: $nav-font-family;
      font-weight: $nav-font-weight;
      font-size: $nav-font-size;
      color: $nav-color;
      letter-spacing: $nav-letter-spacing;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;

      &:is(:hover, :focus) {
        color: $nav-color-hover;
      }
    }
  }
}
