@use "../abstracts" as *;

// hero section
.hero {
  &__layout {
    flex-wrap: nowrap;
    --flex-column-gap: 4.8rem;

    @include mq(medium) {
      --flex-raw-gap: 4.8rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $size-5;

    @include mq(medium) {
      text-align: center;
    }
  }

  &__text {
    font-size: $font-size-600;

    span {
      font-weight: $font-weight-bold;
    }
  }

  &__img {
    border-radius: $size-4;
    box-shadow: $box-shadow-2;
  }
}

// hours section
.schedule {
  row-gap: $size-9;
  column-gap: 0;

  &__item {
    position: relative;
    padding-inline: $size-8;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 30%;
      z-index: 1;
      height: 2.6rem;
      border: solid 1px $color-secondary-700;
      opacity: 0.5;
    }
  }

  &__item:last-child {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 30%;
      z-index: 1;
      height: 2.6rem;
      border: solid 1px $color-secondary-700;
      opacity: 0.5;
    }
  }

  &__range {
    margin-block-start: $size-2;
    font-size: $font-size-500;
  }
}

// prices
.prices-group {
  grid-gap: $size-9;
  margin-block-start: $size-fluid-3;

  &__item {
    p {
      margin-block-start: $size-2;
      font-family: $font-family-accent;
      font-size: $font-size-600;
      font-weight: $font-weight-bold;
      color: $color-secondary-700;
    }
  }
}
